body {
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    
}

.container {
    padding: 20px;
}

h2[name="remaining_days"]{
    color: red;
}

 

/* Form Styling */
form {
    margin-bottom: 20px;
}

form label {
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add some space between labels and inputs */
    font-weight: bolder;
    font-size: large;
}

form input[type="date"],
form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 20%;
    box-sizing: border-box;
}

form button[type="submit"] {
    padding: 10px 20px;
    background-color: #148d04;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0e6b03;
}


/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #148d04;
    color: white;
}

table tr {
    transition: background-color 0.3s;
}

table tr:hover {
    background-color: #f2f2f2;
}

table tr.past {
    background-color: #f8d7da; /* Red background for past dates */
}

/* Error Message Styling */
.error {
    color: red;
    margin-top: 20px;
    text-align: left;
    font-size: large;
    font-weight: bold;
}


.edit-icon {
    color: orange;
}

.delete-icon {
    color: red;
}
.deleteButton:hover{
    cursor:pointer;
}

label[name="upload"] {
    background-color: #148d04;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    width:195px;
    margin-top: 1rem;
  }
  
/* Checkbox Styling */
input[type="checkbox"] {
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Remove default appearance for Safari */
    -moz-appearance: none; /* Remove default appearance for Firefox */
    width: 20px; /* Set custom width */
    height: 20px; /* Set custom height */
    border: 2px solid #ccc; /* Add border */
    border-radius: 3px; /* Add border radius */
    cursor: pointer; /* Add pointer cursor */
    outline: none; /* Remove default focus outline */
    transition: background-color 0.3s, border-color 0.3s; /* Add transition effect */
}

input[type="checkbox"]:checked {
    background-color: #148d04; /* Change background color when checked */
    border-color: #148d04; /* Change border color when checked */
}

/* Custom checkbox tick */
input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode character for checkmark */
    display: block;
    color: white; /* Set checkmark color */
    text-align: center; /* Center the checkmark */
    line-height: 20px; /* Match the height of the checkbox */
}
